/* ========================================= */
/* CSS 'GRID LAYOUTS' ====================== */
/*
      1.  'SITE CONTAINER' 
      2.  'GRID CONTAINER for <p> CONTENT'
      3.  'TABLE CONTAINERS'             
      4.  'GLOSSARY CONTAINER'
      5.  'UNICODE CHARACTER CONTAINER'      */
/* ========================================= */


/* ===================================== */
/* *. UNIVERSAL GRID SUPPORT =========== */
autoprefixer({grid: true;})
@supports (display: grid){}
.grid > * {min-width: 0;}
/* ===================================== */


/* =========================== */
/* 1. SITE-CONTAINER GRID ==== */
.grid {
	margin: 0 2.4vw;
  padding: 0;
  height: auto;
	display: grid;
	grid-template-rows: 0px minmax(200px,auto) 35px;
	grid-gap: 4px;
}
/*
main {max-width: 100%;}
*/
@media only screen and (min-width: 700px) {
  /* Grid-Template-Areas */
  nav {grid-area: nav;}
  main {grid-area: main;}
  footer {grid-area: foot; }
  .grid {
    height: auto; 
    margin: 0;
    padding: 0;
    display: grid;
  	grid-template-rows:  auto auto minmax(15px,40px);
		grid-template-columns: 168px repeat(4, 1fr);
		grid-template-areas: 
    "nav main main main main" 
    "nav main main main main" 
    "nav foot foot foot foot";
    grid-gap: 0;
  }
}
/* ======================== */


/* ====================================== */
/* 2. GRID-CONTAINER for <p> CONTENT ==== */
.intro {
	margin: 2vw;
  padding: 0;
	display: grid;
	grid-template-rows: auto;
	grid-gap: 4px;
}
@media only screen and (min-width: 800px) {
  .intro {
    margin: 8px 1em 0;
    width: 95%;
    max-width: 1000px;
  }
}
/* =================================== */


/* =================================== */
/* 3. TABLE GRIDS ==================== */
/**********************/
@media all and (max-width: 500px) {
  .block {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	
    grid-template-columns: 1fr;    
  }
  .table, .tableEven {
    width: 100%;
    font-size: 0.68em;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	grid-template-columns: 1fr;
	}
}
/* Desktop 'Table' */
@media all and (min-width: 500px) {
  .block {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	
    grid-template-columns: repeat(2, 1fr);   
    grid-gap: 2px; 
  }
	.table {
    width: 100%;
    font-size: 0.74em;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: 16em 1fr;
    grid-gap: 2px;
  }
	.tableEven {
    width: 100%;
    font-size: 0.74em;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
}
/* =================================== */


/* =================================== */
/* 4. GLOSSARY GRID ================== */
/**********************/
.glossary {
   width: 100%;
   font-size: 0.74em;
   margin: 0 auto;
   padding: 0;
   display: grid;
   grid-template-rows: repeat(auto, 24px);
   grid-template-columns: 6em 1fr;
   grid-gap: 2px;
 }
@media only screen and (min-width: 800px) {
  .glossary {
    font-size: 0.80em;
     grid-template-rows: repeat(auto, 24px);
     grid-template-columns: 10em 1fr;
  }
}
/* =================================== */


/* =================================== */
/* 5. UNICODE CHARACTER GRID ========= */
.characterGrid {
  margin: 0 7px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 4px;
}
/*Unicode <div> Style*/
.asciiItem {
  background: grey;
  text-align: center;
}
/*Unicode 1st Row*/
.asciiItemChar {
  font-size: 1.5em;
}
@media only screen and (min-width: 800px) {
  .characterGrid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
  }
}
/* =================================== */

.tagRef {
  /*font-size: 0.74em;*/
  margin: 0 7px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 4px;
}
@media only screen and (min-width: 800px) {
  .tagRef {
    margin: 0;  /*0 0.6em;*/
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
  }
}
/* ==================================== */
/* xxxx =========== */

/* ==================================== */
/* =================================== */