/*  ============================================= 
    HOMEPAGE GRID STYLES (index.html) =========*/

    


/*
*/


/*DESKTOP Media-Query*/
/* =========================================== */


/*  ============================================= 
    HOMEPAGE BASE STYLES (index.html) ======== */
* {box-sizing: border-box;}
body {
  /*background: #838487;*/
  min-height: 100%;
  width: 100%;
  font-size: 1rem;
  line-height: 1.2;
	font-family: 'Raleway', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, .card {
	margin-bottom: 0.25em;
	text-align: center;
}
p {
  margin: 0.4em 0;
  text-emphasis: justify;
}
/**/
a {
  color: rgba(10, 9, 9, 0.5) !important;
  text-decoration: none !important;
}
/**/

.material-icons {
  color: #ff4d4d; 
  font-size: 2.42em;
}
/**/
span {margin: 0;}
/*DESKTOP Media-Query*/
@media screen and (min-width: 800px) {
  p {text-align: center;}
  .btn {padding: 0.75em 1.5em;}
  .card {
    height: 150px;
    margin: 0 auto; 
    padding: 0;
    width: 100%;
  }
  div.card > .material-icons {margin-top: 4px;}
}
/* =========================================== */


/*  ============================================= 
    FOOTER =================================== */
footer {text-align: center;}
.fa-heart {
  color: red;
  animation: pulse 1.3s ease infinite;
  padding-top: -50px;  /*Required for Heart Animation*/
}
@keyframes pulse {
  0% {transform: scale(0.5);}
  50% {transform: scale(0.7);}
  100% {transform: scale(0.5);}
}
/* =========================================== */
