/*  ========================================= 
    Main GRID STYLES (index.html) ======== */
.intro {grid-area: intro;}
.main-content {grid-area: gallery;}
footer {grid-area: footer;}
/**/
.galleryGrid {
  margin: 0 0.5em;
  display: grid;
  grid-template-rows: auto auto 8px;
  grid-template-areas: 
    "intro"
    "gallery"
    "footer";
}
.main-content {
  margin: 1.5em auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 24px;
}
.sub-content {
	margin: 0 1em;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows:  auto;
  grid-gap: 10px;
}
/*DESKTOP Media-Query*/
@media screen and (min-width: 500px) {
  .galleryGrid {
    margin: 0 2em;
    grid-template-rows: auto 100% 8px;
  }
	.main-content {
    margin: 0.5em auto;
		display: grid;
  	grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(auto, 200px);/*auto*/
	}
	.sub-content {margin: 0 2.5em;}
}
/**/
/**/
table {
	table-layout: auto;
	width: 100%;
}
th {text-align: left;}
td.bold {
	width: 200px;
	margin-right: 75px;
}
.bold > span {text-decoration: underline;}
.emphasize {font-style: italic;}
span {margin: 0;}
.small {font-size: 0.71em;}


/*  ========================================= 
    UNIVERSAL BASE STYLES (pages.css) ==== */
* {
	box-sizing: border-box;
}
body {
  background: #838487;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
	font-family: 'Raleway', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5 {
	margin-bottom: 0.25em;
}
h1, h2, h3, h4, h5, .card {
	text-align: center;
}
a {
  color: rgba(10, 9, 9, 0.5);
  text-decoration: none;
}
p {
	margin: 0.25em;
	text-align: justify;
}
/*
*/

/*
*/
.btn {
  display: inline-block;
  margin: 0;
  width: 150px;
  text-align: center;
  font-size: 0.85em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  background-color: #ff4d4d;
  border-radius: 0.35em;
}
/*
*/
.card h1, .card h2 {
  color: #ff1a1a; 
  margin: 0;
  line-height: 1.25;
}
.card {
  margin: 0 auto;
  padding: 0;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 0.25em;
}
.card:hover {
  background-color: black;
  color: red;
  opacity: 0.7;
  border: none;
  box-shadow: 2px 2px 20px red;
  transition-duration: .8s; 
}
/*
*/
.material-icons {
  color: #ff4d4d; 
  font-size: 2.42em;
}
/*
*/
.intro {
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
}
/*
*/
hr {
  background-image: linear-gradient(to right, rgba(10, 9, 9, 0.0), rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.0));
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: visible;
  text-align: center;
}
hr:after { /*rgba(255, 0, 0, 0.8)*/
  background: rgba(192, 192, 192, 0.6);
  content: ' \00A7';
  border: 1px dotted rgba(10, 9, 9, 0.7);
  border-radius: 50%;
  display: inline-block;
  font: "BodoniXT" !important;
  font-size: 0.9em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}
/*
*/
/* FOOTER */
footer {text-align: center;}
.fa-heart {
  color: red;
  animation: pulse 1.3s ease infinite;
  padding-top: -50px;  /*Required for Heart Animation*/
}
@keyframes pulse {
  0% {transform: scale(0.5);}
  50% {transform: scale(0.7);}
  100% {transform: scale(0.5);}
}