



/* ********************************** */
/* ********************************** */
/* ********************************** */
/* ********************************** */


/* ======= Universal Styles ======= */

.material-icons {
  color: #ff4d4d; 
  /*font-size: 1em;*/
}
/**/
.intro {
  margin: 1em auto;
  width: 95%;
  max-width: 1000px;
}

table {font-size: 0.62em;
	table-layout: auto;
	width: 100%;
}
th {text-align: left;}
td.bold {
	width: 150px;
}
.bold > span {text-decoration: underline;}
.emphasize {font-style: italic;}
span {margin: 0;}
.small {font-size: 0.71em;}