/*
  BANNER -- to Hide Code during Production
*/
/*Under Construction Banner*/
.banner{
  height: 65vh;
  margin-top: 10vh;
}
/*In-Progress Banner*/
.banner2 {
  height: 70vh;
  margin-top: 25vh;
}
@media screen and (min-width: 900px) {
  .banner {
    height: 61vh;
    margin-top: 21vh;
  }
  .banner2 {
    height: 62vh;
    margin-top: 30vh;}
}



/* ============================================ */
/* ============== TOP-NAVIGATION ============== */
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:first-child {float: left;}
.topnav a:hover {
  background-color: red;
  color: black;
	transition-duration: 0.8s;
}
header.topnav > .active {
  background-color: red;
  color: white;
  padding-right: 80px;
}
.topnav .icon {
  display: none;
}
fa-home {
  padding-right: 75px;
}
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*Settings for 'FIXED-Header/Nav' on 'Desktop = REQ'*/
@media screen and (min-width: 800px) {
  header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
  }
  main {margin-top: 44px;}
}
/**//*******************************//**/


/* ============================================ */
/* ============ SIDEBAR-NAVIGATION ============ */
nav {
  white-space: nowrap;
  background: #333;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 2em 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 8px;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 0rem;
  color: white;
  text-decoration: none;
}
.nested {
  padding: 0rem 2rem;
  font-size: 0.88rem;
}
nav ul li a.current {
  color: red;
}
/**//*******************************//**/


/* ===================================== */
/* =========== GRID LAYOUTS ============ */
/*
autoprefixer({grid: true;})
@supports (display: grid){}
.grid > * {min-width: 0;}
*/

/**********************/
/* SITE-TEMPLATE GRID */
/**********************/
.grid {
	margin: 0 2.4vw;
  padding: 0;
  height: auto;
	display: grid;
	grid-template-rows: 0px minmax(200px,auto) 35px;
	grid-gap: 4px;
}
@media only screen and (min-width: 700px) {
  nav {grid-area: nav;}
  main {grid-area: main;}
  footer {grid-area: foot; }
  .grid {
    height: auto; 
    margin: 0;
    padding: 0;
    display: grid;
  	grid-template-rows:  auto auto minmax(15px,40px);
		grid-template-columns: 168px repeat(4, 1fr);
		grid-template-areas: 
    "nav main main main main" 
    "nav main main main main" 
    "nav foot foot foot foot";
    grid-gap: 0;
  }
}
/**//*******************************//**/



/**********************/
/* MAIN-SECTION GRID  */
/**********************/
/*Page CONTAINER*/
main {
  max-width: 100%;
}
/*Container PARAGRAPH */
.intro {
	margin: 2vw;
  padding: 0;
	display: grid;
	grid-template-rows: auto;
	grid-gap: 4px;
}
@media only screen and (min-width: 800px) {
  .intro {
    margin: 8px 1em 0;
    width: 95%;
    max-width: 1000px;
  }
}
/**//*******************************//**/



/**********************/
/*    TABLE GRIDS     */
/**********************/
@media all and (max-width: 500px) {
  .block {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	
    grid-template-columns: 1fr;    
  }
  .table, .tableEven {
    width: 100%;
    font-size: 0.68em;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	grid-template-columns: 1fr;
	}
}
/* Desktop 'Table' */
@media all and (min-width: 500px) {
  .block {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	
    grid-template-columns: repeat(2, 1fr);   
    grid-gap: 2px; 
  }
	.table {
    width: 100%;
    font-size: 0.74em;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: 16em 1fr;
    grid-gap: 2px;
  }
	.tableEven {
    width: 100%;
    font-size: 0.74em;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
}



/**********************/
/*   GLOSSARY GRID    */
/**********************/
.glossary {
   width: 100%;
   font-size: 0.74em;
   margin: 0 auto;
   padding: 0;
   display: grid;
   grid-template-rows: repeat(auto, 24px);
   grid-template-columns: 8em 1fr;
   grid-gap: 2px;
 }

/*Unicode Character Grid*/
.characterGrid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 4px;
}
@media only screen and (min-width: 800px) {
  .characterGrid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
  }
}
/*Unicode <div> Style*/
.asciiItem {
  background: grey;
  text-align: center;
}
/*Unicode 1st Row*/
.asciiItemChar {
  font-size: 1.5em;
}
/**//*******************************//**/



/* ======================================================= */
/* =============== UNIVERSAL BASE STYLES ================= */

body {
  overflow-x: auto;
  margin: 0 auto;
  padding: 0;
  font-size: calc(0.9em + 0.9vw); 
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.8px;
}
/*Back to Top Button*/
.top {
  display: none;
}
@media only screen and (min-width: 800px) {
  .top {
    display: inline-block;
    background: none; 
    margin: 0; 
    position: fixed; 
    bottom: 50vh; 
    right: 0; 
    width: 30px; 
    height: 10px; 
    z-index: 100; 
    text-decoration: none; 
    color: red; 
    /*background-color: #ff9000;*/
  }
}
/**/
/**/
h1, h2 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
	margin-bottom: 0.25em;
}
h3, h4, h5 {
  margin: 1em 0 0.25em;
  padding: 0;
  text-align: center;
} 
h6 {
  margin: 0.8em 0 0 0;
  padding: 0;
  text-align: center;
} /*for TOP Alignment */
p {
	margin: 0.80em 0.44em 0 -0.42em;
	text-align: justify;
  line-height: 1.5; 
  font-size: 0.78em;
}
/**/
/**/
.material-icons {
  color: #ff4d4d; 
  font-size: 1em;
}
/**/
/**/
a {
  color: #000;
  text-decoration: none
}
/*Style for <a> and <sup> Content */
a.link {text-decoration: underline;}
a:hover {opacity: 0.7;}
sup a:link {color: #f1a23c;}
sup a:visited {color: red;}
ul.nav >li > a:hover {
  color: red;
  transition: 0.3s;
}
ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}
li {padding-left: 16px;}
li > a {font-size: 0.62em;}
li > a.active {
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding: 2px;
}
ol {font-size: 0.68em;}
ol.alpha {list-style-type: lower-alpha;}
/**/
/**/
figcaption {
  font-size: 0.68em;
  font-style: italic;
  text-align: center;
}

mark {background: #ccc;}

hr {
  background-image: linear-gradient(to right, rgba(10, 9, 9, 0.0), rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.0));
  border: 0;
  height: 1px;
  margin-bottom: 80px;
  margin-top: 80px;
  
  overflow: visible;
  text-align: center;
}
hr:after { /*rgba(255, 0, 0, 0.8)*/
  background: rgba(192, 192, 192, 0.6);
  content: ' \00A7';
  border: 1px dotted rgba(10, 9, 9, 0.7);
  border-radius: 50%;
  display: inline-block;
  font: "BodoniXT" !important;
  font-size: 0.9em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}

code {
  background: #ccc; 
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0px 1px;
  font-size: 1em;
  font-family: monospace;
}
.paraCode {
  font-size: 0.71em;
  text-align: left;
  /*padding-left: 24%;*/  
}

/*<code> Style for Links*/
code.reference {background: #000;}
code.reference > a {color: #fff;}
@media all and (min-width: 500px) {
  .paraCode {
    font-size: 0.8em;
    margin-left: 16%;
  }
}
/**/
/**/
@media all and (min-width: 500px) {
  p {}
  code {font-size: 0.88em;}
  details {margin: 0 4px; font-size: 1em;}
}
@media all and (max-width: 500px) {
  figure {margin: 0; padding: 0;}
  details {margin: 0 4px; font-size: 0.8em;}
}
address {
  margin: 0 0 0.4em 0;
  color: red;
  font-size: 0.6em;
  font-family: cursive;
  text-align: center;
}
@media all and (min-width: 800px) {
  address {
    margin: 0 0 2em 0;
    color: red;
    font-size: 0.6em;
    font-family: cursive;
    text-align: center;
  }
}
/**//*******************************//**/



/* ==================================== */
/* ============== IMAGES ============== */
img {
  max-width: 100%; 
  height: auto;
}
@media all and (min-width: 800px) {  
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  }
}
/**//*******************************//**/


/* ==================================== */
/* ============== FOOTER ============== */
footer {text-align: center; font-size: 0.53em;}
.fa-heart {
  color: red;
  animation: pulse 1.3s ease infinite;
  padding-top: -50px;  /*Required for Heart Animation*/
}
@keyframes pulse {
  0% {transform: scale(0.5);}
  50% {transform: scale(0.7);}
  100% {transform: scale(0.5);}
}
/**//*******************************//**/


/* ==================================== */
/* ============== ?????? ============== */
/* Mobile 'Table' */
h3 > span {color: red;}
div > span {text-decoration: underline;}
.table, .tableEven > div {margin: 2px 6px;}
/**/
span {margin: 0;}

/*Hide on Mobile >> Display in Desktop*/
.hideMobile, span.hideMobile {display: none;}
.hideDesktop, span.hideDesktop {display: contents;}
/**/
@media only screen and (min-width: 800px) {
  .hideMobile, span.hideMobile {display: contents;}
  .hideDesktop, span.hideDesktop {display: none;}
}
/**/
dialog::backdrop {
  background: rgba(255,0,0,.25);
}
/**/
.card {
  margin: 6px;
  padding: 8px;
  border: 1px solid #e1e1e1;
}
/**//*******************************//**/